*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html,
body {
  max-width: 100%;
  overflow-x: hidden; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 830px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 635px) {
    html {
      font-size: 45%; } }

body::-webkit-scrollbar {
  display: none; }

body {
  background-color: #080808;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

@media only screen and (min-width: 1400px) {
  .header {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(10, 1fr);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/hero.jpeg");
    background-size: cover;
    background-position: center;
    height: 111vh; }
    .header__name {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-column: 4 / span 4;
      grid-row: 3 / span 4;
      font-family: "Yesteryear", cursive; }
      .header__name h3 {
        color: #cecece;
        font-size: 6.5rem;
        word-spacing: 1.8rem; }
    .header__divider {
      display: flex;
      justify-content: center;
      align-items: center;
      grid-column: 9 / span 2;
      grid-row: 3 / span 4; }
      .header__divider span {
        background-color: #cecece;
        width: 0.1rem;
        height: 90%;
        transform: rotate(45deg); }
    .header__company-name {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      grid-column: 11 / span 7;
      grid-row: 3 / span 4;
      font-family: "Allura", cursive; }
      .header__company-name h2 {
        color: #cecece;
        font-size: 7rem;
        word-spacing: 1.8rem; } }

@media only screen and (max-width: 1400px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/hero.jpeg");
    background-size: cover;
    background-position: center;
    height: 111vh; } }
  @media only screen and (max-width: 1400px) and (max-width: 1000px) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%); } }
  @media only screen and (max-width: 1400px) and (max-width: 1300px) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 1400px) and (max-width: 630px) {
    .header {
      height: 100vh; } }

@media only screen and (max-width: 1400px) {
    .header__name {
      font-family: "Yesteryear", cursive;
      margin-top: 25vh; }
      .header__name h3 {
        color: #cecece;
        font-size: 6.5rem;
        word-spacing: 1.8rem; } }
      @media only screen and (max-width: 1400px) and (max-width: 530px) {
        .header__name h3 {
          font-size: 4rem; } }

@media only screen and (max-width: 1400px) {
    .header__divider span {
      display: inline-block;
      background-color: #cecece;
      height: 0.1rem;
      width: 70vw;
      margin: 3rem 0rem; }
    .header__company-name {
      font-family: "Allura", cursive; }
      .header__company-name h2 {
        color: #cecece;
        font-size: 7rem;
        word-spacing: 1.8rem; } }
      @media only screen and (max-width: 1400px) and (max-width: 530px) {
        .header__company-name h2 {
          font-size: 5rem; } }

.showcase {
  width: 100vw;
  padding: 3rem 0rem;
  font-family: "Libre Baskerville", serif;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 650px) {
    .showcase {
      margin-top: 0rem; } }
  .showcase__heading {
    color: #cccccc;
    font-size: 4.3rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    margin-bottom: 25rem; }
    @media only screen and (max-width: 900px) {
      .showcase__heading {
        margin-top: 20rem;
        margin-bottom: 10rem; } }
    @media only screen and (max-width: 650px) {
      .showcase__heading {
        display: none; } }
    @media only screen and (max-width: 635px) {
      .showcase__heading {
        font-size: 3rem; } }
  .showcase__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.2rem; }
    .showcase__card:not(:last-child) {
      margin-bottom: 20rem; }
      @media only screen and (max-width: 650px) {
        .showcase__card:not(:last-child) {
          margin-bottom: 12rem; } }
    .showcase__card__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      .showcase__card__left h4 {
        color: #cccccc;
        font-size: 6.5rem;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.5rem;
        line-height: 0; }
        @media only screen and (max-width: 685px) {
          .showcase__card__left h4 {
            font-size: 5rem; } }
        @media only screen and (max-width: 490px) {
          .showcase__card__left h4 {
            font-size: 4rem; } }
        @media only screen and (max-width: 400px) {
          .showcase__card__left h4 {
            font-size: 3rem; } }
      .showcase__card__left__btn {
        border: none;
        padding: 1.5rem 4.5rem;
        border-radius: 0.2rem;
        margin-top: 8rem;
        border: 1px solid #cccccc;
        background-color: transparent;
        cursor: pointer; }
        @media only screen and (max-width: 650px) {
          .showcase__card__left__btn {
            margin-top: 5rem;
            padding: 1.5rem 6.5rem; } }
        .showcase__card__left__btn a {
          text-decoration: none;
          color: #cccccc;
          text-transform: uppercase;
          font-size: 1.6rem; }
          @media only screen and (max-width: 650px) {
            .showcase__card__left__btn a {
              font-size: 1.8rem; } }
    .showcase__card__right {
      display: flex;
      justify-content: center;
      width: 100vw; }
      .showcase__card__right__img {
        height: 90vh;
        width: 100%;
        background-size: cover;
        background-position: bottom; }
        @media only screen and (max-width: 1100px) {
          .showcase__card__right__img {
            height: 50vh; } }
        @media only screen and (max-width: 635px) {
          .showcase__card__right__img {
            height: 30vh; } }
        .showcase__card__right__img--1 {
          background-image: url("../img/dance.jpeg"); }
        .showcase__card__right__img--2 {
          background-image: url("../img/outdoor.jpeg");
          background-position: center; }

.contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30rem;
  margin-bottom: 30rem; }
  @media only screen and (max-width: 500px) {
    .contact {
      padding-top: 15rem; } }
  @media only screen and (max-width: 650px) {
    .contact {
      margin-bottom: 15rem; } }
  .contact__heading {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem; }
    @media only screen and (max-width: 1400px) {
      .contact__heading {
        flex-direction: column;
        align-items: center; } }
    .contact__heading__left {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 35vw;
      background-color: #111111;
      padding: 5rem 8rem; }
      @media only screen and (max-width: 1400px) {
        .contact__heading__left {
          width: 65vw;
          margin-bottom: 5rem; } }
      @media only screen and (max-width: 590px) {
        .contact__heading__left {
          width: 90vw;
          padding: 8rem 2rem; } }
      .contact__heading__left__greeting {
        font-size: 10rem;
        color: #cccccc;
        margin-bottom: 2rem;
        font-family: "Yesteryear", cursive; }
      .contact__heading__left__information {
        font-size: 2rem;
        color: #cccccc;
        font-family: "Libre Baskerville", serif;
        line-height: 3rem;
        letter-spacing: 0.1rem; }
    .contact__heading__right {
      display: flex;
      align-items: center; }
      @media only screen and (max-width: 590px) {
        .contact__heading__right {
          flex-direction: column; } }
      .contact__heading__right i {
        font-size: 8rem;
        margin-right: 2rem;
        color: #cccccc; }
      .contact__heading__right__email {
        font-size: 4.5rem;
        color: #cccccc;
        font-family: "Libre Baskerville", serif; }
        @media only screen and (max-width: 560px) {
          .contact__heading__right__email {
            font-size: 3rem; } }

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 5vw);
  gap: 1rem;
  opacity: 70%;
  background-color: #cccccc;
  padding: 1rem 0rem; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .gallery__item--1 {
    grid-column: 4 / span 2;
    grid-row: 6 / span 4; }
  .gallery__item--2 {
    grid-column: 1 / span 3;
    grid-row: 6 / span 4; }
  .gallery__item--3 {
    grid-column: 1 / span 5;
    grid-row: 1 / span 5; }
  .gallery__item--4 {
    grid-column: 6 / span 3;
    grid-row: 1 / span 9; }
